<%- include header.ejs %>
<form method="post" action="">
    <label for="">用户名：</label>
    <input type="text" name="name" title="">
    <label for="">密码：</label>
    <input type="password" name="password" title="">
    <label for="">确认密码：</label>
    <input type="password" name="password-repeat" title="">
    <label for="">邮箱：</label>
    <input type="text" name="email" title="">
    <input type="submit" value="提交">
</form>
<%- include footer.ejs %>